apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: {{ k3s_storage_class_retain_name }}
provisioner: rancher.io/local-path
reclaimPolicy: Retain
volumeBindingMode: WaitForFirstConsumer
